@using Radzen
@inject Radzen.DialogService DialogService
@using IT_326___Planner_Application.Models

<RadzenTemplateForm TItem="Event" Data="@model" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Text" />
        </div>
        <div class="col">
            <RadzenTextBox @bind-Value="@model!.Text" Name="Text" />
            <RadzenRequiredValidator Text="Title is required" Component="Text" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Start" />
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@model.Start" Name="Start" ShowTime="true" />
            <RadzenRequiredValidator Text="Start is required" Component="Start" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="End" />
        </div>
        <div class="col">
            <RadzenDatePicker Name="End" @bind-Value="@model.End" ShowTime="true" />
            <RadzenRequiredValidator Component="End" Text="End is required" />
        </div>
    </div>

    <div class="row" style="margin-bottom: 16px">
        <h4 class="my-4">Select Event Color</h4>
        <RadzenColorPicker @bind-Value=@model.Color/>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Save" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton Text="Delete" Click=@(args => OnClick("Delete Event")) />
        </div>
    </div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public Event? Event { get; set; }

    Event? model = new Event();

    protected override void OnParametersSet()
    {
        if (Event != null) {
            model = Event;
        }
    }

    //Delete event from list
    void OnClick(string buttonName)
    {
        if (model != null) {
            Calendar.eventList.Remove(model);
        }
        DialogService.Close();
    }

    void OnSubmit(Event? model)
    {
        DialogService.Close(model);
    }
}