@page "/notepad"
@using IT_326___Planner_Application.Shared
@inject IJSRuntime JSRuntime

<h1>Create a Note</h1>
<textarea @bind="fileContent"
          style="width:150px;height:100px" />

<br/>
<button @onclick="SaveFile">SaveFile</button>

<button @onclick="DownloadFile">GenerateFile</button>

@code {

    string? Content;

    string? fileContent;

    string fileName = "file.txt";

    public void SaveFile()
    {
        Content = fileContent;
    }
    public async void DownloadFile()
    {
        await JSRuntime.InvokeAsync<object>("saveFile", fileName, Content);
    }
}
